* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.container {
  width: 80vw;
  height: 57vh;
  display: flex;
  gap: 10vw;
}

.ships {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rotate {
  color: rgb(119, 0, 0);
  font-weight: bold;
  margin-bottom: 10px;
}

.player_board, .computer_board {
  flex: 1;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.player_board > div, .computer_board > div {
  flex: 1;
  display: flex;
}

.square {
  flex: 1;
  border: 1px solid black;
}

.square:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.ship {
  background-color: grey;
  border: 2px solid black;
}

.ship:hover {
  cursor: pointer;
}

.dragover {
  background-color: grey;
}

.container .placed {
  background-color: grey;
}

.container .hit {
  background-color: red;
}

.container .miss {
  background-color: blue;
}

.winner {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 30%;
  text-align: center;
  width: 40vw;
  height: 30vh;
  background-color: gray;
  color: white;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}

.restart {
  background-color: red;
  width: 30%;
  padding: 0.5vh;
  border: 3px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.restart:hover {
  scale: 1.05;
  color: red;
  background-color: white;
}
